.detail {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  img {
    width: 30%;
  }

  .detail-product {
    width: 30%;
    height: 200px;
    //background-color: #fcd50d;
    flex-direction: column;
    gap: 10px;

    h1 {
      margin-bottom: 10px;
    }
  }

  .container-price {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;
    margin-top: 10px;

    .price {
      color: gray;
    }

    .discount {
      font-weight: bold;
      font-size: 30px;
      color: #c53b3b;
    }
  }

  .button-display {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 90%;
      height: auto;
      border: none;
      padding: 20px 20px;
      margin-top: 15px;
      font-weight: bold;
      border-radius: 5px;
      color: #fcd50d;
      background-color: #431615;
      font-size: 18px;
      transition: transform 0.3s ease-in-out;
    }

    button:hover {
      background-color: #fcd50d;
      color: #431615;
      transition: transform 0.3s ease-in-out;
    }
  }
}
