<div id="content3">
  <button (click)="navigateTo('')" class="snapbar">
    <span>COMBO</span>
  </button>
  <div class="line"></div>
  <button (click)="navigateTo('mainlist')" class="snapbar">
    <span>MÓN CHÍNH</span>
  </button>
  <div class="line"></div>
  <button (click)="navigateTo('sidedish')" class="snapbar">
    <span>ĂN KÈM</span>
  </button>
  <div class="line"></div>
  <button (click)="navigateTo('soup')" class="snapbar">
    <span>CANH PHẦN</span>
  </button>
  <div class="line"></div>
  <button (click)="navigateTo('water')" class="snapbar">GIẢI KHÁT</button>
</div>
