<div class="footer-content">
  <div class="content">
    <p class="copyright">Copyright © 2020 Phúc Lộc Thọ | LTD | All
       rights reserved.</p>
     <p class="border">Chính sách & quy định chung</p>
    <p class="border">Chính sách giao hàng & thanh toán</p>
    <p class="border">Chính sách bảo mật thông tin</p>
    <p class="border">Tra cứu hoá đơn</p>
    <p class="border">Liên
      hệ</p>
    <p>CÔNG TY CỔ PHẦN THỰC PHẨM PHÚC LỘC THỌ, GPDKKD: 0314071273 do sở KH & ĐT TP.HCM cấp ngày 01/04/2021. Địa chỉ: 234/3 Tô Ngọc
      Vân,P. Linh Đông, TP. Thủ Đức, TP. HCM.</p>
    <img src="https://file.hstatic.net/200000043306/file/logosalenoti_b901224237fa4149bde6995af12474eb.png" alt="">
  </div>
</div>



