
  <div class="footer">
    <div class="footer-display">
      <div class="footer-logo">
        <img src="https://file.hstatic.net/200000043306/file/asset_9_e0d311344a0a49449d2d61717dac7cd2.png" alt="">
        <p>SỬ DỤNG THỰC PHẨM<br>
          NGUỒN GỐC RÕ RÀNG</p>
      </div>
      <div class="footer-logo">
        <img src="https://file.hstatic.net/200000043306/file/asset_9_dccdc97ee0a74533a12647a156a21999.png" alt="">
        <p>ỦNG HỘ SẢN PHẨM<br>
          NÔNG NGHIỆP VIỆT</p>
        </div>
      <div class="footer-logo">
        <img src="https://file.hstatic.net/200000043306/file/asset_10_2368c732e9a74044acdd0e74a042c2c3.png" alt="">
        <p>CHUNG TAY<br>
          BẢO VỆ MÔI TRƯỜNG</p>
      </div>

    </div>
  <div class="shipper">
    <img src="https://file.hstatic.net/200000043306/file/icon-giao-hang-03-compress_c3943ff12a184ce6a2e04b277fbd785b.png" alt="">
  </div>
</div>

