.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .footer-display{
    width: 600px;
    height: 204px;
    display: flex;
    gap: 30px;

    .footer-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;


      p{
        color:#431615;
        font-weight: bold;
      }
    }
  }
  .shipper{
    width: 600px;
    height: 204px;
  }
}

.footer-logo img{
  width: 120px;
  height: 80px;
}

