<div id="app">
  <div id="top">
    <div id="top_content1">
      <app-top-navbar-content1></app-top-navbar-content1>
    </div>
    <div id="top_content2">
      <app-top-banner-images-content2></app-top-banner-images-content2>
    </div>
    <div id="top_content3">
      <app-navbar-content3></app-navbar-content3>
    </div>

  </div>

<div id="middle">
  <div class="middle_content1">
    @for (item of ComboS; track $index){
      <app-combo-card
        [image]="item.image"
        [title]="item.title"
        [price]="item.price"
        [discount]="item.discount"
        [description]="item.description"
      ></app-combo-card>
    }
  </div>
</div>


</div>


