#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  #top{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 140px;
    background-color: #431615;
    color: white;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;

    #top_content2{
      margin-top: 50px;
      margin-bottom: 10px;

      #middle{
        width: 100vw;
        height: 500px;
      }







      }
    }
  }

