<div id="app">
  <div id="top">
    <app-top-navbar-content1></app-top-navbar-content1>
    <app-top-banner-images-content2></app-top-banner-images-content2>
    <app-navbar-content3></app-navbar-content3>
    </div>


  <div id="middle">
    <div class="middle1">
      @for (item of ComboS; track $index){
        <app-combo-card
          [image]="item.image"
          [title]="item.title"
          [price]="item.price"
          [discount]="item.discount"
          [description]="item.description"
        ></app-combo-card>
      }
  </div>
    <div class="middle2">
      <app-component-logo-middle2></app-component-logo-middle2>
    </div>
  </div>

  <div class="footer-last">
    <app-the-last-footer></app-the-last-footer>
  </div>






</div>


