<div id="banner">
  <div class="banner-container">
    <img class="ima" src="https://file.hstatic.net/200000043306/file/banner_mbs__t10__web_.png" alt="Banner 1">
    <img class="ima" src="https://file.hstatic.net/200000043306/file/banner_19_nam_868461bfd880404ea22cb0bc95c060fd.png" alt="Banner 2">
    <img class="ima" src="https://file.hstatic.net/200000043306/file/banner.jpg" alt="Banner 3">
  </div>


<!--  <div class="banner-dots">-->
<!--    <span class="dot" onclick="changeSlide(0)"></span>-->
<!--    <span class="dot" onclick="changeSlide(1)"></span>-->
<!--    <span class="dot" onclick="changeSlide(2)"></span>-->
<!--  </div>-->
</div>
